.Header {

  .icon { display: none; }
  .gnb {
    display: flex; justify-content: space-between; line-height: 100px;

    .navgnb {
      ul { display: flex; }
      .MainNav {
        display: flex;

        li {
          position: relative; padding: 0 20px;

          &:hover {
            .smenu { display: block; top: 80px; opacity: 1; visibility: visible; transition: 0.5s; }
          }
        }
        .smenu {
          display: none; position: absolute; top: 100px; left: 50%; width: 180px; text-align: center; transform: translateX(-50%); background: white; line-height: 50px; opacity: 0; z-index: 1; overflow: hidden;

          li {
            white-space: nowrap; color: #777;

            a:hover { text-decoration: underline; color: black; }
          }
        }
      }
    }
  }
}
@media(max-width:768px) {


  .Header {
    width: 100%; line-height: 100px; z-index: 1;

    .icon { display: block; position: absolute; top: 40px; right: 4px; }
    .inner {
      width: calc(100% - 32px);

      .gnb { display: flex; justify-content: space-between; line-height: 80px; }
      h1 { width: 80px; }
      .navgnb {
        a { display: block; }
        .MainNav {
          position: fixed; display: flex; top: 0; left: -100%; flex-direction: column; gap: 0; color: #333; font-size: 14px; font-weight: 700; width: calc(100% - 90px); height: 100vh; background: white; border-right: 1px solid #ddd; padding: 50px 15px 0 15px; line-height: 32px; z-index: 1; transition: 0.5s;

          &.on { left: 0; }
          >li {
            border-bottom: 1px solid #ddd; padding: 12px;

            .smenu {
              display: block; position: static; opacity: 1; width: auto; transform: translateX(0); z-index: 99; text-align: left; line-height: 24px;

              li {
                white-space: nowrap; font-weight: 400;

                a:hover { text-decoration: none; color: #777; }
              }
            }
          }
        }
      }
    }
  }
}
