.Knit {

	img { height: 100%; }
	
	
	.sec01 {

		.des {
			padding: 150px 0;

			h2 { font-size: 40px; margin: 0 0 20px 0; line-height: 1.4; }
			span { font-size: 24px; margin: 0 0 50px 0; display: inline-block ; }
		}
		img { height: 700px; }
	}
	.sec02 {
		position: relative; margin-top: -100px; width: calc((100% - 1530px)/2 + 1530px); margin-left: calc((100% - 1530px)/2);

		img { height: 1000px; }
		img:nth-child(2) { position: absolute; right: 0; top: 300px; width: 35%; height: auto; }
	}
	.sec03 { padding: 200px 0; width: 1220px; margin: 0 auto; gap: 20px; }
}