.MainVisual {
  position: relative;

  .inner {
    img { height: calc(100vh - 140px); width: 100vw; padding-bottom: 20px; object-fit: cover; }
    .slick-dots {
      position: absolute; inset: 90% auto auto 50%; transform: translate(-50%,-50%);

      button::before { color: white; }
    }
    .Slide {
      position: relative;

      .slogan {
        position: absolute; inset: 50% auto auto 50%; transform: translate(-50%,-50%); text-align: center; color: white;

        span { display: inline-block; font-size: 24px; margin: 0 0 20px 0; }
        h2 { font-size: 48px; }
      }
    }
  }
}