
.Trend {

    h2 { font-size: 40px; margin: 0 0 20px 0; line-height: 1.4; }
    span { font-size: 24px; margin: 0 0 50px 0; display: inline-block ; }
    img { height: 100%; }
    .sec01 {
        align-items: flex-end;
padding-bottom: 200px;
        img { margin-right: 10px; }
    }
}